@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.container-login{
    height: 100vh;
    font-family: 'Inter', sans-serif;
    .login-bg{
        height: calc(100% - 70px);
        background-image: url("../../assets/login/background.png");
        background-size:cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .textChamativo {
            font-size: 26px;
            line-height: 5rem;
            color: #fff;
            font-weight: 'bold';

        }
        .login{
            padding:20px 30px;
            border-radius: 5px;
            background-color: #FFF;
            h3{
                font-weight: 600;
            }
            p{
                font-weight: 500;
                margin: 4px 0 15px 0;
            }
            .login-externo{
                display: flex;
                justify-content: center;
                img{
                    cursor: pointer;
                    user-select: none;
                }
                .bar{
                    width: 2px;
                    height: auto;
                    margin: 15px 30px;
                    background-color:#000;
                }
            }
            .or{
                display: flex;
                justify-content: center;
                font-weight: 400;
                margin: 10px 0;
                user-select: none;
            }
            .email-senha{
                display: flex;
                justify-content: center;
            }
            .passwordhelp{
                margin-top:15px;
                display: flex;
                justify-content: center;
                a{
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }
                a:hover{
                    color: rgb(97, 95, 95);
                }
            }
            .buttonsLogin{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                #buttonLogin,
                #buttonCadastrar{
                    margin-bottom: 10px;
                    background-color: #000;
                }
            }
        }
    }
}