
.item-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    .item-conteudo-inicio{
        display: flex;
        align-items: center;
    }
    .item-conteudo-inicio ul{
        margin-right: 40px;
    }
    .item-conteudo-infos{
        margin-bottom: 50px;
    }

}